---
import BaseLayout from "~/layouts/BaseLayout.astro";
import { getCollection, getEntry, render } from "astro:content";
import path from "pathe";
import ContentImage from "~/components/ContentImage.astro";
import Markdown from "~/components/Markdown.astro";

const { seminar } = Astro.props;

const teacher = await getEntry(
  "teachers",
  path.basename(seminar.data.teacher, ".yaml"),
  );

const { Content } = await render(seminar);

export const getStaticPaths = async () => {
  return (await getCollection("seminars")).map((seminar) => ({
    params: { name: seminar.id },
    props: { seminar },
  }));
};
---

<BaseLayout>
  <article class="max-w-192 px-4">
    <div class="grid grid-cols-2 mb-8 gap-x-4 md:gap-x-8">
      <ContentImage path={teacher.data.image} class="rounded-2xl max-h-64 object-cover" />
      <div class="flex flex-col gap-y-2">
        <h1 class="text-xl md:text-3xl font-serif">
          <span class="uppercase font-bold">{seminar.data.mainTitle}</span>
          <span>{seminar.data.additionalTitle}</span>
        </h1>
        <span class="md:text-lg">with</span>
        <a href={path.join("/teachers", teacher.id)} class="font-serif text-lg md:text-2xl font-bold underline">{teacher.data.name}</a>
      </div>
    </div>
    <div class="markdown text-lg text-justify tracking-wide font-serif"><Content content={seminar} /></div>
  </article>
</BaseLayout>
