---
import BaseLayout from "~/layouts/BaseLayout.astro";
import InfoSection from "~/components/InfoSection.astro";
import { getEntry, getCollection, render } from "astro:content";

const info = await getEntry("info", "info");
const infoMain = (await getCollection("infoMain")).sort(
  (a, b) => b.data.weight - a.data.weight,
);
const infoLocation = (await getCollection("infoLocation")).sort(
  (a, b) => b.data.weight - a.data.weight,
);
const infoFaq = (await getCollection("infoFaq")).sort(
  (a, b) => b.data.weight - a.data.weight,
);
---

<BaseLayout>
  <div class="flex w-full max-w-144 flex-col gap-y-8 px-4 pb-8">
    <InfoSection title={info.data.mainTitle} collection={infoMain} />
    <InfoSection title={info.data.locationTitle} collection={infoLocation} />
    <InfoSection title={info.data.faqTitle} collection={infoFaq} />
    <p>{info.data.bottomLine}</p>
  </div>
</BaseLayout>
